.caja-boton-menu{width:300px;height:300px;border:1px solid black;border-radius:5px;transition:2s}.centrar{padding-top:60px;font-size:40px}a{text-decoration:none;color:black}a:hover{text-decoration:none;color:black}

